body {
    font-size: .875rem;
    height: 100vh;
    background-color: hsl(0, 0%, 96%);
    overflow:hidden
}

.container{
    height: 100vh;
}

.messages{
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

ul.nav-pills {
    position: sticky;
    top: 69px;
    height: calc(100vh - 80px);
}

button a {
    text-decoration: none !important;
    color: #6c757d;
}

button a:hover {
    text-decoration: none !important;
    color: #fff;
}


.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.h3
{
    text-transform: uppercase!important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


/*NAVBAR*/
.sidebar li .submenu{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.submenu > li >.nav-link:not(.active){
    color: #e7e7e7;
}

@media (max-width:768px) {
    #header-logo{
        width: 100% !important;
        padding: 0;
        text-align: left;;
    }

    #header-search{
        width: 75%  !important;
        margin-top:20px;
    }
}

/*EVENTS DETAILS*/

table td,th{
    text-align: center;
}


main{
    overflow:auto;
    height: calc(100vh - 63px);
}
.box{
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0px -0px 9px 0px rgba(238, 238, 238, 1);
}

.box label{
    text-transform: uppercase;
    margin-top: 0.2rem;
    color: slategrey;
}


.box input[type="text"],.box input[type="datetime-local"],.box select,.box textarea,.box input[type='password'],.box input[type='email'],.box input[type='number']
{
    /*background: rgba(249, 249, 249, 0.98);*/
}

.box input[type="text"]:disabled{
    background: #f1f1f1;
}


/*ADMIN PANEL USER EDIT*/

.btn-drop{
    margin-left: auto!important;
}



